# Understanding Pandas Series and DataFrames - Lab

## Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

## Let's get started!

In [26]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Rename all the columns to lower case

In [28]:
names = list(df.columns)
names_lower = list(map(lambda x: x.lower(), names))
df.columns = names_lower
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Change the Index to be the Line Names

In [29]:
df = df.set_index(['linename'])
df.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Change the index back

In [30]:
df = df.reset_index()
df.head()

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order
*Hint: According to the [data dictionary](http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt), LINENAME represents all train lines that can be boarded at a given station. Normally lines are represented by one character. For example, LINENAME 456NQR represents trains 4, 5, 6, N, Q, and R.*

In [33]:
df['Num_Lines'] = df['linename'].apply(lambda x: len(x))
data.sort_values(['Num_Lines'], axis=0, 
                 ascending=, inplace=True)
df.head()

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits,Num_Lines
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,7
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,7
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,7
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,7
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,7
5,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425,7
6,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460,7
7,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461,7
8,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483,7
9,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524,7
10,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,16:00:00,REGULAR,6736873,2283587,7
11,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,20:00:00,REGULAR,6737067,2283631,7
12,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,00:00:00,REGULAR,6737136,2283656,7
13,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,04:00:00,REGULAR,6737146,2283658,7
14,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,08:00:00,REGULAR,6737169,2283736,7
15,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,12:00:00,REGULAR,6737301,2283965,7
16,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,16:00:00,REGULAR,6737553,2284025,7
17,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,20:00:00,REGULAR,6738257,2284091,7
18,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,00:00:00,REGULAR,6738430,2284121,7
19,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,04:00:00,REGULAR,6738442,2284126,7
20,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,08:00:00,REGULAR,6738474,2284216,7
21,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,12:00:00,REGULAR,6738621,2284402,7
22,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,16:00:00,REGULAR,6738886,2284425,7
23,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,20:00:00,REGULAR,6739630,2284478,7
24,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,00:00:00,REGULAR,6739804,2284508,7
25,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,04:00:00,REGULAR,6739812,2284512,7
26,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,08:00:00,REGULAR,6739847,2284600,7
27,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,12:00:00,REGULAR,6739986,2284838,7
28,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,16:00:00,REGULAR,6740257,2284896,7
29,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,20:00:00,REGULAR,6740888,2284941,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1970,NQRW,A014,R081,02-00-00,49 ST,BMT,08/30/2018,16:00:00,REGULAR,2645543,933646,4
1971,NQRW,A014,R081,02-00-00,49 ST,BMT,08/30/2018,20:00:00,REGULAR,2646315,933810,4
1972,NQRW,A014,R081,02-00-00,49 ST,BMT,08/31/2018,00:00:00,REGULAR,2646838,933870,4
1973,NQRW,A014,R081,02-00-00,49 ST,BMT,08/31/2018,04:00:00,REGULAR,2646933,933879,4
1974,NQRW,A014,R081,02-00-00,49 ST,BMT,08/31/2018,08:00:00,REGULAR,2646982,933965,4
1975,NQRW,A014,R081,02-00-00,49 ST,BMT,08/31/2018,12:00:00,REGULAR,2647150,934207,4
1976,NQRW,A014,R081,02-00-00,49 ST,BMT,08/31/2018,16:00:00,REGULAR,2647572,934322,4
1977,NQRW,A014,R081,02-00-00,49 ST,BMT,08/31/2018,20:00:00,REGULAR,2648114,934440,4
1978,NQRW,A014,R081,02-00-01,49 ST,BMT,08/25/2018,00:00:00,REGULAR,6645462,3393804,4
1979,NQRW,A014,R081,02-00-01,49 ST,BMT,08/25/2018,04:00:00,REGULAR,6645557,3393821,4
1980,NQRW,A014,R081,02-00-01,49 ST,BMT,08/25/2018,08:00:00,REGULAR,6645587,3393874,4
1981,NQRW,A014,R081,02-00-01,49 ST,BMT,08/25/2018,12:00:00,REGULAR,6645658,3393982,4
1982,NQRW,A014,R081,02-00-01,49 ST,BMT,08/25/2018,16:00:00,REGULAR,6645838,3394117,4
1983,NQRW,A014,R081,02-00-01,49 ST,BMT,08/25/2018,20:00:00,REGULAR,6646127,3394239,4
1984,NQRW,A014,R081,02-00-01,49 ST,BMT,08/26/2018,00:00:00,REGULAR,6646492,3394336,4
1985,NQRW,A014,R081,02-00-01,49 ST,BMT,08/26/2018,04:00:00,REGULAR,6646585,3394361,4
1986,NQRW,A014,R081,02-00-01,49 ST,BMT,08/26/2018,08:00:00,REGULAR,6646599,3394382,4
1987,NQRW,A014,R081,02-00-01,49 ST,BMT,08/26/2018,12:00:00,REGULAR,6646669,3394483,4
1988,NQRW,A014,R081,02-00-01,49 ST,BMT,08/26/2018,16:00:00,REGULAR,6646800,3394631,4
1989,NQRW,A014,R081,02-00-01,49 ST,BMT,08/26/2018,20:00:00,REGULAR,6647032,3394732,4
1990,NQRW,A014,R081,02-00-01,49 ST,BMT,08/27/2018,00:00:00,REGULAR,6647241,3394789,4
1991,NQRW,A014,R081,02-00-01,49 ST,BMT,08/27/2018,04:00:00,REGULAR,6647291,3394803,4
1992,NQRW,A014,R081,02-00-01,49 ST,BMT,08/27/2018,08:00:00,REGULAR,6647314,3394909,4
1993,NQRW,A014,R081,02-00-01,49 ST,BMT,08/27/2018,12:00:00,REGULAR,6647425,3395172,4
1994,NQRW,A014,R081,02-00-01,49 ST,BMT,08/27/2018,16:00:00,REGULAR,6647572,3395268,4
1995,NQRW,A014,R081,02-00-01,49 ST,BMT,08/27/2018,20:00:00,REGULAR,6648104,3395372,4
1996,NQRW,A014,R081,02-00-01,49 ST,BMT,08/28/2018,00:00:00,REGULAR,6648360,3395424,4
1997,NQRW,A014,R081,02-00-01,49 ST,BMT,08/28/2018,04:00:00,REGULAR,6648409,3395440,4
1998,NQRW,A014,R081,02-00-01,49 ST,BMT,08/28/2018,08:00:00,REGULAR,6648427,3395526,4
1999,NQRW,A014,R081,02-00-01,49 ST,BMT,08/28/2018,12:00:00,REGULAR,6648553,3395805,4

## Write a function to clean a column name

In [ ]:
def clean(col_name):
    cleaned = #Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    return cleaned

In [ ]:
# This is a list comprehension. It applies your clean function to every item in the list.
# We then reassign that to df.columns
# You shouldn't have to change anything here.
# Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [ ]:
# Checking the output, we can see the results.
df.columns

## Group the Data by Day of Week and Plot the Sum of The Numeric Columns

In [ ]:
# Your code here

## Group the Data by Weekend/Weekday and Plot the Sum of the Numeric Columns

In [ ]:
#Your code here

## Analysis Question: 

What is misleading about the day of week and weekend/weekday charts you just plotted?

In [ ]:
# Your answer here

## Drop a couple of columns

In [ ]:
# Your code here

## Summary

Great! You practiced your data cleanup-skills using Pandas.